global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    tcp
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend ingress_http_in
        bind *:8080
        default_backend ingress_http_backend_servers

backend ingress_http_backend_servers
        balance roundrobin
        server  worker1 192.168.2.202:30080 check
        server  worker2 10.1.0.5:30080 check
        server  worker3 10.1.0.6:30080 check

frontend ingress_https_in
        bind *:8443
        default_backend ingress_https_backend_servers

backend ingress_https_backend_servers
        balance roundrobin
        server  worker1 192.168.2.202:30443 check
        server  worker2 10.1.0.5:30443 check
        server  worker3 10.1.0.6:30443 check


